:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* a cada 1rem será 10px */
  font-size: 62.5%;
}

html, body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

body {
  position: relative;
  max-width: 100vw;
  font-size: 1.8rem;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-blue);
  font-weight: 400;
}

p, span {
  color: var(--grayish-blue);
}

.menu-section {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

header {
  min-height: 100vh;
  background-color: aquamarine;
}
.nav-menu {
  position: fixed;
  height: 11vh;
  width: 100%;
  background-color: white;
  box-shadow: 1px 0 3px rgba(88, 86, 86, .5);
  z-index: 9999999 !important;
  transition: .2s linear;
  transition-property: opacity, height;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu .menu-section{
 display: flex;
 height: 100%;
}

.menu .menu-section li {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.menu .menu-section li + li {
  margin-left: 20px;
}

.menu .menu-section li::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  height: 4px;
  left: 50%;
  right: 50%;
  transition: .5s ease;
  transition-property: left, right;
}

.menu .menu-section li:hover::before {
  left: 0;
  right: 0;
}

.menu .menu-section li a {
  color: var(--grayish-blue);
  transition: color .5s ease;
}

.menu .menu-section li:hover a {
  color: var(--dark-blue);
}

.menu .toggle-menu {
  outline: none;
  border: none;
  background: transparent;
}

.menu .toggle-menu span {
  display: block;
  margin-bottom: 4px;
  height: 1px;
  width: 27px;
  background-color: black;
  transition: transform .3s;
}

.button {
  color: var(--white);
  padding: 10px 25px;
  border-radius: 100px;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  transition: filter .5s ease;
}

.button:hover {
  filter: brightness(1.2);
}

.intro {
  position: relative;
  height: 100vh;
  background-color: var(--very-light-gray);
  background-image: url('/images/bg-intro-desktop.svg');
  background-position: 40vw;
  background-repeat: no-repeat;
}

.intro-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.intro .intro-text {
  width: 40%;
}

.intro .intro-text h1 {
  font-size: 5rem;
}

.intro .intro-text p {
  margin: 4rem 0;
  color: var(--grayish-blue);
}

.intro .intro-mockups {
  width: 50vw;
  position: absolute;
  right: -5%;
  top: -10%;
}

.intro,
#why-choose-easybank,
#latest-articles {
  padding: 11vh 0;
}

#why-choose-easybank {
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
}


#why-choose-easybank .title,
#latest-articles .title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#why-choose-easybank .subtitle {
  width: 60%;
  margin-bottom: 4rem;
}

#why-choose-easybank .topics,
#latest-articles .articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#why-choose-easybank .topics .topic,
#latest-articles .articles .article {
  margin-right: 10px;
  margin-bottom: 40px;
  width: 255px;
}

#why-choose-easybank .topics .topic * + * {
  margin-top: 2rem;
}

#why-choose-easybank .topics .topic h3,
#latest-articles .articles .article h3 {
  font-size: 2rem;
}

#why-choose-easybank .topics .topic p,
#latest-articles .articles .article p {
  font-size: 1.6rem;
}

#latest-articles {
  min-height: 100vh;
  background-color: var(--very-light-gray);
  display: flex;
  align-items: center;
}

#latest-articles .articles .article .article-description {
  padding: 1.6rem;
  background-color: var(--white);
}

#latest-articles .articles .article .article-description * + * {
  margin-top: 1rem;
}

#latest-articles .articles .article img {
  width: 100%;
  height: 50%;
}

#latest-articles .articles .article span {
  font-size: 1.4rem;
}

#latest-articles .articles .article h3 {
  transition: color .5s ease ;
}

#latest-articles .articles .article a:hover h3 {
  color: var(--lime-green);
}


.footer {
  position: relative;
  bottom: 0;
  min-height: 30vh;
  padding: 20px;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
}

.footer .footer-container {
  height: 50%;
}

.footer .nav-footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .nav-footer .footer-left {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .nav-footer .footer-left > div {
  margin-left: 30px;
}

.footer .nav-footer .footer-left > div,
.footer .nav-footer .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .nav-footer .footer-right {
  text-align: end;
  align-items: flex-end;
}

.footer .nav-footer .footer-left a {
  color: var(--white);
  margin-bottom: 20px;
  transition: color .5s ease;
}

.footer .nav-footer .footer-left a:hover {
  color: var(--lime-green);
}

.footer .nav-footer .social a{
  color: white;
  margin-right: 8px;
}


.attribution {
  color: var(--grayish-blue);
  position: absolute;
  bottom: 1px;
  right: 3px;
  border: 1px solid rgba(255,255, 255, .2);
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 11px;
  text-align: end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
